export(dane_przykladowe)
export(diagram_etapow)
export(diagram_piramida_dowodow)
export(formularz_oceny)
export(generuj_dane)
export(indeks_ankiety)
export(konfiguracja_kursu)
export(mapa_kursu)
export(materialy)
export(oblicz_ocene)
export(oddaj_projekt)
export(oddaj_zadanie)
export(odpowiedzi_wielokrotne)
export(odwroc_pozycje)
export(otworz_material)
export(paleta_zi)
export(plik_pracy)
export(plik_przykladu)
export(pobierz_ocene)
export(pobierz_oddanie)
export(pobierz_zadanie)
export(przygotuj_ankiete)
export(przygotuj_raport)
export(przygotuj_repo_studenta)
export(przygotuj_zadanie)
export(rozpocznij_zajecia)
export(rubryka)
export(scenariusz)
export(scenariusze)
export(slownik_zmiennych)
export(sprawdz_konfiguracje)
export(sprawdz_ocene)
export(sprawdz_oddanie)
export(sprawdz_srodowisko)
export(sprawdz_warianty)
export(sprawdz_zadanie)
export(status_oddania)
export(tabela_klas_r)
export(tabela_markdown)
export(termin_zadania)
export(theme_zi)
export(uruchom_analize)
export(uruchom_projekt)
export(utworz_projekt)
export(wariant_projektu)
export(wczytaj_dane)
export(wniosek_anova)
export(wniosek_chi2)
export(wniosek_cor)
export(wniosek_fisher)
export(wniosek_ind)
export(wniosek_kw)
export(wniosek_mw)
export(wniosek_one_sample)
export(wniosek_paired)
export(wniosek_reg)
export(wniosek_wilcox)
export(wykres_anova)
export(wykres_anscombe)
export(wykres_bledy_testu)
export(wykres_bootstrap)
export(wykres_braki)
export(wykres_chi2)
export(wykres_chi2_mc)
export(wykres_czestosci)
export(wykres_dystrybuanta)
export(wykres_galeria_r)
export(wykres_gestosc_pole)
export(wykres_histogram)
export(wykres_histogram_panele)
export(wykres_kalibracja)
export(wykres_kwantylowy)
export(wykres_licznosci_odsetki)
export(wykres_likert)
export(wykres_log)
export(wykres_macierz_korelacji)
export(wykres_moc)
export(wykres_mozaika)
export(wykres_obserwowane_oczekiwane)
export(wykres_ogony)
export(wykres_pary)
export(wykres_pasma_regresji)
export(wykres_przedzialy)
export(wykres_przejscia)
export(wykres_przeplyw_proby)
export(wykres_pudelkowy)
export(wykres_punkty_os)
export(wykres_reszty)
export(wykres_rowne_srednie)
export(wykres_rozklad_dyskretny)
export(wykres_rozklad_zerowy)
export(wykres_rozklady_estymatora)
export(wykres_roznica_zmian)
export(wykres_sd_se)
export(wykres_srednia_mediana)
export(wykres_t_z)
export(wykres_theta)
export(wykres_transformacje)
export(wykres_wielokrotne_testy)
export(wykres_wplyw)
export(wykres_wspolne_wybory)
export(wyloguj_github)
export(wystaw_ocene)
export(zaloguj_github)
export(zapisz_dane)
importFrom(ggplot2,.data)
